/* google fonts */
/* Monsterrat */
/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* global css  */
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    
}
.container {
    width: 90%;
    margin: auto;
}

/* header part  */
header {
    width: 100%;
    float: left;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    color: white;
}
.main-header {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 10px 0px;
}
.logo-part {
    width: 50%;
    float: left;
    padding: 10px;
}

.logo-part img {

}
.manu-part {
    width: 50%;
    float: left;
}
.delivery {
    width: 100%;
    float: left;
    text-align: end;
}
.delivery img {
    margin-right: 20px;
}
.delivery span {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
}
.manu {
    width: 100%;
    float: left;
}
.manu ul {
    text-align: end;
}
.manu li {
    list-style: none;
    display: inline-block;
    margin: 25px;
}
.manu a {
    text-decoration: none;
    letter-spacing: 3px;
    margin-left: 23px opx;
    color: white;
}
/* hero part  */
.hero {
    width: 100%;
    float: left;
}
.hero-writing-part {
    width: 50%;
    float: left;
    padding-top: 100px;
}
.hero-writing-box {
    font-size: 17px;
    font-weight: 400;
    border: 2px dashed;
    display: inline-block;
    padding: 7px 20px;
    color: #333300;
}
.hero-heading {
    font-size: 135px;
    color: #3d2514;
    text-shadow: 2px 2px white;
}
.hero-header {
    font-size: 75px;
    color: #3d2514;
    text-shadow: 2px 2px white;
}
.hero-img-part {
    width: 50%;
    float: left;
}
.hero-img-part img {
    position: relative;
    right: 45px;
}
/* food item part */

.fooditem-part {

}
.img-part1 {
    width: 50%;
    float: left;
    padding-top: 99px;
}
.img-part2 {
    width: 50%;
    float: left;
    padding-top: 100px;
    position: relative;
    right: -40px;
}
.img-row {
    width: 100%;
    float: left;
    padding-top: 28px;
}
.button {
    text-align: center;
    width: 100%;
    float: left;
    padding-top: 50px;
}
.btn-dark {
    background-color: #ffc045;
    padding: 11px 44px;
    font-size: 31px;
}
.fooditem-writing-part {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 36px;
}
.enjoy-part {
    font-size: 40px;
    color: #3d2514;
}
.weriting-pera {
    padding: 24px;
    font-size: 20px;
    color: #3d2514;
}
/* order section  */
.box-part {
    width: 100%;
    float: left;
    padding: 90px 0px;
}
.box-one {
    width: 33%;
    float: left;
}
.box-writing-para1 {
    width: 100%;
    float: left;
    text-align: center;
}
.box-writing-para1 h3 {
    text-align: center;
    color: #3d2514;
    font-size: 31px;
}
.box-writing-para1 p {
    font-size: 20px;
    color: #3d2514;
}
.but-dark {
    background-color: red;
    padding: 5px 33px;
    font-size: 31px;
}
.box-two {
    width: 33%;
    float: left;
    position: relative;
    top: -36px;
}
.box-writing-para2 {
    width: 100%;
    float: left;
    text-align: center;
}
.box-writing-para2 h3 {
    text-align: center;
    color: #3d2514;
    font-size: 31px;
}
.box-writing-para2 p {
    font-size: 20px;
    color: #3d2514;
}
.box-three {
    width: 33%;
    float: left;
}
.box-writing-para3 {
    width: 100%;
    float: left;
    text-align: center;
}
.box-writing-para3 h3 {
    text-align: center;
    color: #3d2514;
    font-size: 31px;
}
.box-writing-para3 p {
    font-size: 20px;
    color: #3d2514;
}
/* feature section */
#info {
    width: 100%;
    float: left;
}
.info-box-part {

}
.info-part {

}
.infowriting-part {
    width: 50%;
    float: left;
}
.infowriting-part h3 {
    padding: 3px 0px;
    font-size: 27px;
    color: #333333;
}
.info-writing-part1 {
    padding: 3px 0px;
    font-size: 50px;
    color: #3d2514;
}
.info-writing-part1 h1 {

}
.info-writing-pera {
    padding: 31px 0px;
}
.info-writing-pera p {
    font-family: 'Montserrat', sans-serif;
    padding: 39px 0px;
}
.info-img-part {
    width: 50%;
    float: left;
}
.info-img-part img {
    padding: 30px 2px;
}
/* RESERVATION PART */
.reservation-part {
    width: 100%;
    float: left;
}
.reser-img-part {
    width: 33%;
    float: left;
}
.reser-img-part img [

]
.img {

}
.login-part {

}
.login-from1 {

}
.login-from2 {

}
.login-from3 {

}


.reser-writing-part {
    width: 33%;
    float: left;
    padding: 110px 0px;
    text-align: center;
}
.writ-pera {

}
.writ-pera h4 {

}
.writ-pera h1 {

}
.img-part2 {
    width: 33%;
    float: left;
}
.img-part2 {

}
.login-4 {
    
}